@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'), url(https://fonts.gstatic.com/s/sigmarone/v10/co3DmWZ8kjZuErj9Ta3do6Tpow.ttf) format('truetype');
}
@font-face {
  font-family: 'Zhi Mang Xing';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Zhi Mang Xing Regular'), local('ZhiMangXing-Regular'), url(https://fonts.gstatic.com/s/zhimangxing/v5/f0Xw0ey79sErYFtWQ9a2rq-g4aAneQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'), url(https://fonts.gstatic.com/s/sigmarone/v10/co3DmWZ8kjZuErj9Ta3do6Tpow.ttf) format('truetype');
}
@keyframes pulse {
  from {
    background: red;
  }
  to {
    background: lime;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: lightgrey;
  width: 60%;
  margin: 0 auto;
}
@media ( max-width: 500px ) {
  body {
    width: 90%;
    margin: 0 auto;
  }
}
@media ( max-width: 800px ) {
  body {
    width: 90%;
    margin: 0 auto;
  }
}
@media ( max-width: 1000px ) {
  body {
    width: 90%;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.navigation {
  background: #03BD1F;
  border-radius: 10px;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media ( max-width: 500px ) {
  .navigation {
    flex-direction: column;
    width: 100%;
  }
}
@media ( max-width: 800px ) {
  .navigation {
    flex-direction: column;
    width: 100%;
    height: 10vh;
  }
}
.navigation .check-mark {
  font-size: 4rem;
  color: green;
  padding-right: 2%;
}
@media ( max-width: 500px ) {
  .navigation .check-mark {
    display: none;
  }
}
@media ( max-width: 800px ) {
  .navigation .check-mark {
    display: none;
  }
}
.navigation h1 {
  font-size: 2.5rem;
  font-family: 'Sigmar One', cursive;
  font-size: 3rem;
}
@media ( max-width: 1000px ) {
  .navigation h1 {
    font-size: 2.5rem;
  }
}
.navigation .anchor {
  font-size: 1.2rem;
  display: flex;
  width: 55%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5%;
}
@media ( max-width: 500px ) {
  .navigation .anchor {
    width: 100%;
    margin-top: 2%;
  }
}
@media ( max-width: 800px ) {
  .navigation .anchor {
    width: 100%;
  }
}
@media ( max-width: 1000px ) {
  .navigation .anchor {
    width: 50%;
  }
}
.navigation .anchor a {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}
@media ( max-width: 1000px ) {
  .navigation .anchor a {
    font-size: 1rem;
  }
}
.container {
  width: 80%;
  margin: 0 auto;
}
@media ( max-width: 500px ) {
  .container {
    width: 100%;
  }
}
.container .intro {
  border-bottom: 1px dotted black;
  padding: 2% 0;
  margin: 1% auto;
}
.container .intro h2 {
  font-family: 'Sigmar One', cursive;
  font-size: 2.3rem;
}
@media ( max-width: 500px ) {
  .container .intro h2 {
    text-align: center;
  }
}
@media ( max-width: 800px ) {
  .container .intro h2 {
    text-align: center;
  }
}
@media ( max-width: 1000px ) {
  .container .intro h2 {
    text-align: center;
    font-size: 2rem;
  }
}
.container .intro p {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 2%;
}
@media ( max-width: 500px ) {
  .container .intro p {
    text-align: center;
    font-size: 1.3rem;
  }
}
@media ( max-width: 800px ) {
  .container .intro p {
    font-size: 1.4rem;
  }
}
@media ( max-width: 1000px ) {
  .container .intro p {
    font-size: 1.4rem;
  }
}
.container .intro img {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  border-radius: 30px;
  padding-bottom: 2%;
}
@media ( max-width: 500px ) {
  .container .intro img {
    height: 15vh;
  }
}
@media ( max-width: 800px ) {
  .container .intro img {
    width: 100%;
  }
}
@media ( max-width: 1000px ) {
  .container .intro img {
    height: 25vh;
  }
}
.container .images {
  display: flex;
  justify-content: space-evenly;
}
.container .images img {
  padding: 1% 0;
  width: 30%;
  height: 26vh;
  border-radius: 30px;
}
@media ( max-width: 500px ) {
  .container .images img {
    width: 35%;
    height: 15vh;
  }
}
.container .easy-life h3 {
  font-size: 2rem;
  padding-top: 2%;
  font-family: 'Sigmar One', cursive;
  font-size: 2.3rem;
}
@media ( max-width: 800px ) {
  .container .easy-life h3 {
    text-align: center;
  }
}
@media ( max-width: 1000px ) {
  .container .easy-life h3 {
    font-size: 2rem;
    text-align: center;
  }
}
.container .easy-life ul {
  font-size: 1.6rem;
  text-align: center;
  list-style: circle;
  margin-left: 1%;
  line-height: 2.5rem;
  padding-top: 2%;
  padding-bottom: 2%;
}
@media ( max-width: 500px ) {
  .container .easy-life ul {
    text-align: center;
    font-size: 1.3rem;
  }
}
@media ( max-width: 800px ) {
  .container .easy-life ul {
    font-size: 1.4rem;
  }
}
@media ( max-width: 1000px ) {
  .container .easy-life ul {
    font-size: 1.4rem;
  }
}
.container .easy-life ul li {
  padding: 1% 0;
}
.container .clean {
  border-top: 1px dotted black;
  display: flex;
  padding: 2% 0;
  justify-content: space-evenly;
  align-items: center;
}
@media ( max-width: 500px ) {
  .container .clean {
    flex-direction: column;
    width: 100%;
  }
}
@media ( max-width: 800px ) {
  .container .clean {
    flex-direction: column-reverse;
    width: 100%;
  }
}
.container .clean h3 {
  font-family: 'Sigmar One', cursive;
  font-size: 2.3rem;
}
@media ( max-width: 800px ) {
  .container .clean h3 {
    width: 100%;
  }
}
.container .clean .jump-start {
  text-align: center;
  width: 35%;
  height: auto;
}
@media ( max-width: 500px ) {
  .container .clean .jump-start {
    width: 100%;
  }
}
@media ( max-width: 800px ) {
  .container .clean .jump-start {
    width: 90%;
  }
}
@media ( max-width: 800px ) {
  .container .clean .jump-start h3 {
    width: 100%;
  }
}
@media ( max-width: 1000px ) {
  .container .clean .jump-start h3 {
    font-size: 2rem;
  }
}
.container .clean .jump-start p {
  font-size: 1.6rem;
  margin: 2% 0;
}
@media ( max-width: 500px ) {
  .container .clean .jump-start p {
    font-size: 1.3rem;
  }
}
@media ( max-width: 800px ) {
  .container .clean .jump-start p {
    width: 100%;
    font-size: 1.5rem;
  }
}
@media ( max-width: 1000px ) {
  .container .clean .jump-start p {
    font-size: 1.4rem;
  }
}
.container .clean .btn {
  background: darkgray;
  color: white;
  font-weight: bold;
  width: 80%;
  height: 4vh;
  border-radius: 10px;
  margin-top: 2%;
}
.container .clean .btn:hover {
  animation: pulse 5s infinite;
  background: red;
  color: white;
}
@media ( max-width: 800px ) {
  .container .clean .btn {
    width: 60%;
  }
}
.container .clean .bottom-image {
  height: 20vh;
  width: 30%;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .container .clean .bottom-image {
    width: 100%;
    height: 15vh;
    margin-bottom: 2%;
  }
}
@media ( max-width: 800px ) {
  .container .clean .bottom-image {
    display: none;
    width: 60%;
  }
}
.container .clean .sweep {
  width: 30%;
  height: 20vh;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .container .clean .sweep {
    display: none;
  }
}
@media ( max-width: 800px ) {
  .container .clean .sweep {
    width: 60%;
    margin-bottom: 2%;
  }
}
.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px dotted black;
}
@media ( max-width: 500px ) {
  .group {
    flex-direction: row;
  }
}
.group .person {
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.group .person:hover {
  border: 2px dotted black;
}
@media ( max-width: 500px ) {
  .group .person {
    width: 50%;
    margin: 0 auto;
  }
}
.group .person .person-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.group .person img {
  width: 50%;
  height: 15vh;
}
@media ( max-width: 500px ) {
  .group .person img {
    width: 70%;
    height: 20vh;
  }
}
.group .person p {
  text-align: center;
}
.group .person .bold {
  font-weight: bold;
}
.group .person button {
  width: 50%;
  border-radius: 5px;
  color: green;
  background: seashell;
}
.group .person button:hover {
  animation: pulse 5s infinite;
  background: red;
  color: black;
}
@media ( max-width: 500px ) {
  .group .person button {
    width: 80%;
  }
}
@media ( max-width: 800px ) {
  .group .person button {
    width: 80%;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background: #03BD1F;
  border-radius: 10px;
  width: 90%;
  height: 5vh;
}
@media ( max-width: 500px ) {
  footer {
    width: 100%;
  }
}
footer p {
  text-align: center;
  font-weight: bold;
}
footer .nav-footer {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
@media ( max-width: 500px ) {
  footer .nav-footer {
    display: none;
  }
}
footer .nav-footer a {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}
