@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'), url(https://fonts.gstatic.com/s/sigmarone/v10/co3DmWZ8kjZuErj9Ta3do6Tpow.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'), url(https://fonts.gstatic.com/s/sigmarone/v10/co3DmWZ8kjZuErj9Ta3do6Tpow.ttf) format('truetype');
}
@font-face {
  font-family: 'Zhi Mang Xing';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Zhi Mang Xing Regular'), local('ZhiMangXing-Regular'), url(https://fonts.gstatic.com/s/zhimangxing/v5/f0Xw0ey79sErYFtWQ9a2rq-g4aAneQ.ttf) format('truetype');
}
body {
  background: lightgrey;
  width: 60%;
  margin: 0 auto;
}
@media ( max-width: 500px ) {
  body {
    width: 90%;
    margin: 0 auto;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.navigation {
  background: #7F85A7;
  border-radius: 10px;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media ( max-width: 500px ) {
  .navigation {
    flex-direction: column;
    width: 100%;
  }
}
.navigation .check-mark {
  font-size: 4rem;
  color: green;
  padding-right: 2%;
}
@media ( max-width: 500px ) {
  .navigation .check-mark {
    display: none;
  }
}
.navigation h1 {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}
.navigation .anchor {
  font-size: 1.2rem;
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5%;
}
@media ( max-width: 500px ) {
  .navigation .anchor {
    width: 100%;
  }
}
.navigation .anchor a {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
@media ( max-width: 500px ) {
  .container {
    width: 100%;
  }
}
.container .intro {
  border-bottom: 1px dotted black;
  padding: 2% 0;
  margin: 1% auto;
}
.container .intro h2 {
  text-align: center;
  font-size: 2rem;
}
@media ( max-width: 500px ) {
  .container .intro h2 {
    text-align: center;
  }
}
.container .intro p {
  font-size: 1.6rem;
  text-align: center;
}
@media ( max-width: 500px ) {
  .container .intro p {
    text-align: center;
  }
}
.container .intro img {
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  border-radius: 30px;
}
@media ( max-width: 500px ) {
  .container .intro img {
    height: 25vh;
  }
}
.container .images {
  display: flex;
  justify-content: space-evenly;
}
.container .images img {
  padding-top: 1%;
  width: 30%;
  height: 26vh;
  border-radius: 20px;
}
@media ( max-width: 500px ) {
  .container .images img {
    width: 45%;
    height: 15vh;
  }
}
.container .easy-life h3 {
  text-align: center;
  font-size: 2rem;
}
.container .easy-life p {
  font-size: 1.6rem;
  text-align: center;
}
@media ( max-width: 500px ) {
  .container .easy-life p {
    text-align: center;
  }
}
.container .clean {
  border-top: 1px dotted black;
  display: flex;
  padding: 2% 0;
  justify-content: space-evenly;
  align-items: center;
}
@media ( max-width: 500px ) {
  .container .clean {
    flex-direction: column;
    width: 100%;
  }
}
.container .clean h3 {
  font-size: 2rem;
}
.container .clean .jump-start {
  text-align: center;
  width: 35%;
  height: auto;
}
@media ( max-width: 500px ) {
  .container .clean .jump-start {
    width: 100%;
  }
}
.container .clean .jump-start p {
  font-size: 1.3rem;
}
.container .clean .btn {
  background: darkgray;
  color: white;
  font-weight: bold;
  width: 80%;
  height: 4vh;
  border-radius: 10px;
}
.container .clean .bottom-image {
  height: 20vh;
  width: 30%;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .container .clean .bottom-image {
    order: 0;
    width: 100%;
    height: 15vh;
  }
}
.container .clean .sweep {
  width: 30%;
  height: 20vh;
  border-radius: 10px;
}
@media ( max-width: 500px ) {
  .container .clean .sweep {
    display: none;
  }
}
.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px dotted black;
}
@media ( max-width: 500px ) {
  .group {
    flex-direction: column;
  }
}
.group .person {
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.group .person:hover {
  border: 2px dotted black;
}
@media ( max-width: 500px ) {
  .group .person {
    width: 100%;
    margin: 0 auto;
  }
}
.group .person .person-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.group .person img {
  width: 50%;
  height: 15vh;
}
@media ( max-width: 500px ) {
  .group .person img {
    width: 70%;
    height: 30vh;
  }
}
.group .person p {
  text-align: center;
}
.group .person .bold {
  font-weight: bold;
}
.group .person button {
  width: 50%;
  border-radius: 5px;
}
@media ( max-width: 500px ) {
  .group .person button {
    width: 80%;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background: #7F85A7;
  border-radius: 10px;
  width: 90%;
}
@media ( max-width: 500px ) {
  footer {
    width: 100%;
  }
}
footer p {
  text-align: center;
  font-weight: bold;
}
footer .nav-footer {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
@media ( max-width: 500px ) {
  footer .nav-footer {
    display: none;
  }
}
footer .nav-footer a {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}
