footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background: lightgrey;
    border-radius: 10px;
    width: 100%;
    .nav-footer {
        display:flex;
        justify-content: space-evenly;
        width: 40%;
        @media @mobile {
            display:none;
        }
        a {
            text-decoration: none;
        }
    }
}